@import "~vuetify/src/styles/styles.sass";
@import "variables";
@import "base";
@import "personal-base";
@import "responsive";

// global

/* limit width */
.parent {
  // padding-top: 3vh;
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
}

// hover effect
a:not(.notdefault-hover) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: $clr-btn;
    opacity: 0;
    border-radius: 50px;
    transform: scaleX(0.2);
    transform-origin: left;
    transition: transform 250ms ease;
  }
  &:is(:hover, :focus):before {
    opacity: 0.2;
    transform: scaleX(1);
  }
}

/* icons-active */
// .v-input__icon .primary--text {
//   color: #AD0FD5 !important;
// }

// typography
h2:not(.notdefault-typography) {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 600 !important;
  color: $clr-btn !important;
  margin-bottom: 16px !important;
  line-height: 1 !important;
}
label:not(.notdefault-typography) {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 600 !important;
  color: #FF6B3B !important;
}

/* other adjust */

.form {
  .v-input__slot {
    background-color: var(--clr-card);
    box-shadow: none !important;
    border-radius: 16px;
    border: 1px solid #F3F6F5;
    padding: clamp(0.5em, 1vw, 1em);
    &:is(:hover, :focus) {
      border: 1px solid $clr-btn;
    }
    input {
      color: var(--clr);
      font-weight: 500;
      font-size: var(--step-em--1);
    }
  }
}